
<div class="card">
  <div class="card-header">
    Sign Up For Company Benefits!
  </div>

  <div class="card-body">
    <!--
      TODO: Bind the ngSubmit to the method your create to save
      TODO: Add a reference to the signUpForm
    -->
    <form novalidate>
      <!--
        TODO: Bind each input to its respective field for the data model
        TODO: Bind each input to [(ngModel)]
        TODO: Add a template reference, e.g. #firstNameVar="ngModel"
        TODO: Add an [ngClass] to style when some error occurs and add HTML5 input attributes for validation
        such as required, maxlength, minlength, etc.
        TODO: Add *ngIf to display an error message for different errors
        TODO: Set the 'name' attribute on each input appropriately
      -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstNameId"
                 type="text"
                 placeholder="First Name (required)"
                 required
                 minlength="5" />
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastNameId"
                 type="text"
                 placeholder="Last Name (required)" />
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="emailId">Email</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="emailId"
                 type="email"
                 placeholder="Email (required)"
                 email />
          <span class="invalid-feedback">

          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="addDependantId"
                     type="checkbox"
                     [(ngModel)]="customer.addDependant"
                     name="addDependant">Add A Dependant
            </label>
          </div>
        </div>
      </div>
      <!--
        TODO: Only display this when addDependant is true
      -->
      <div *ngIf="false">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Dependant Relationship</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       id="dependantTypeId"
                       type="radio"
                       value="spouse"
                       [(ngModel)]="customer.dependantType"
                       name="dependantType"> Spouse
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       id="dependantTypeId"
                       type="radio"
                       value="child"
                       [(ngModel)]="customer.dependantType"
                       name="dependantType"> Child
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       id="dependantTypeId"
                       type="radio"
                       value="freeloader"
                       [(ngModel)]="customer.dependantType"
                       name="dependantType"> Freeloader
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="dependantNameId">Dependant Name </label>
          <div class="col-md-8">
            <input class="form-control"
                   id="dependantNameId"
                   type="text"
                   placeholder="Dependant Name"
                   [(ngModel)]="customer.dependantName"
                   name="dependantName">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="dependantAgeId">Dependant Age</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="dependantAgeId"
                   type="text"
                   placeholder="Dependant Age"
                   [(ngModel)]="customer.dependantAge"
                   name="dependantAge">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="dependantSSNId">Dependant SSN</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="dependantSSNId"
                   type="text"
                   placeholder="Dependant SSN"
                   [(ngModel)]="customer.dependantSocialSecurityNumber"
                   name="dependantSocialSecurityNumber">
          </div>
        </div>

      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!signupForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ signupForm.dirty }}
<br>Touched: {{ signupForm.touched }}
<br>Valid: {{ signupForm.valid }}
<br>Value: {{ signupForm.value | json }}
