<div class="card">
    <div class="card-header">
      Sign Up For Company Benefits!
    </div>
    <!--
      TODO: Bind the ngSubmit to the method your create to save
      TODO: Add a reference to the signUpForm
    -->
    <div class="card-body">
      <form novalidate>
        <!--
        TODO: Bind each input to its respective field for the data model
        TODO: Add an [ngClass] to style when some error occurs
        TODO: Add *ngIf to display an error message for different errors
        TODO: Set the 'name' attribute on each input appropriately
        -->

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="firstNameId">First Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="firstNameId"
                   type="text"
                   placeholder="First Name (required)" />
            <span class="invalid-feedback">

            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="lastNameId">Last Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="lastNameId"
                   type="text"
                   placeholder="Last Name (required)" />
            <span class="invalid-feedback">

            </span>
          </div>
        </div>

        <div formGroupName="emailGroup">
          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="emailId">Email</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="emailId"
                     type="email"
                     placeholder="Email (required)" />
              <span class="invalid-feedback">
              </span>
            </div>
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="confirmEmailId">Confirm Email</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="confirmEmailId"
                     type="email"
                     placeholder="Confirm Email (required)" />
              <span class="invalid-feedback">

              </span>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-8">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input"
                       id="addDependantId"
                       type="checkbox"
                       formControlName="addDependant">Add Dependants
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="employeeForm.get('addDependant').value">
          <!-- TODO: The div below should have some formArrayName -->
          <div >
            <!-- TODO: Loop over the formArray here -->
            <div [formGroupName]="i">
              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label pt-0">Dependant Relationship</label>
                <div class="col-md-8">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             id="dependantTypeId"
                             type="radio"
                             value="spouse"
                             formControlName="dependantType"> Spouse
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             id="dependantTypeId"
                             type="radio"
                             value="child"
                             formControlName="dependantType"> Child
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             id="dependTypeId"
                             type="radio"
                             value="freeloader"
                             formControlName="dependantType"> Freeloader
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       attr.for="{{'dependantNameId' + i}}">Dependant Name</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="{{ 'dependantNameId' + i }}"
                         type="text"
                         placeholder="Dependant Name (required)">
                  <span class="invalid-feedback">

                  </span>
                </div>
              </div>

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                        attr.for="{{'dependantAgeId' + i}}">Dependant Age</label>
                <div class="col-md-8">
                  <input class="form-control"
                          id="{{ 'dependantAgeId' + i }}"
                          type="text"
                          placeholder="Dependant Age (required)">
                    <span class="invalid-feedback">

                    </span>
                  </div>
                </div>

                <div class="form-group row mb-2">
                  <label class="col-md-2 col-form-label"
                          attr.for="{{'dependantSSNId' + i}}">SSN</label>
                  <div class="col-md-8">
                    <input class="form-control"
                            id="{{ 'dependantSSNId' + i }}"
                            type="text"
                            placeholder="SSN (required)"
                            formControlName="dependantSocialSecurityNumber">
                      <span class="invalid-feedback">

                      </span>
                    </div>
                  </div>
              </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-md-4">
              <button class="btn btn-outline-primary"
                      type="button"
                      [title]="dependants.valid ? 'Add another dependant' : 'Disabled until the existing dependant data is valid'"
                      [disabled]="!dependants.valid"
                      (click)="addDependant()">
                Add Another Dependant
              </button>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    type="submit"
                    style="width:80px"
                    [title]="employeeForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!employeeForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary"
                    type="button"
                    (click)="populateTestData()">
              Test Data
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>Dirty: {{ employeeForm.dirty }}
  <br>Touched: {{ employeeForm.touched }}
  <br>Valid: {{ employeeForm.valid }}
  <br>Value: {{ employeeForm.value | json }}
  <br>Street: {{ dependants.get('0.dependantName')?.value }}
  <br>&nbsp;
